/* src/MessageList.css */
.message-list {
    padding: 20px;
    background-color: #f9f9f9;
    height: 60vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin: 20px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message-user {
    font-weight: bold;
  }
  
  .message-text {
    margin-left: 5px;
  }
  